/* Body Styling */
  @import url(http://goo.gl/CGxexN);
  html {
    font-family: 'Open Sans', sans-serif;
  }
  body {
    margin: 0;
  }
  .content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    width: 100%;
    background-color: #5D5DEE;
    height: 50px;
    color: #FFF;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 3px 1px 0px #888;
    -webkit-box-shadow: 0px 3px 1px 0px #888;
    box-shadow: 0px 3px 1px 0px #888;
  }
  .section-title p {
    padding-left: 20px;
    padding-top: 15px;
  }
  .application-section {
    clear: both;
    padding-top: 10px;
  }
  .sustainability-section {
    padding-top: 10px;
    height: 500px;
  }
  .uppercase {
    text-transform: uppercase; 
  }
  .quote-box p {
    text-align: -webkit-center;
    padding-top: 10px;
    color: #fff;
  }
  .quote-box {
    background-color: #5D5DEE;
    height: 40px;
    -moz-box-shadow: 0px 3px 1px 0px #888;
    -webkit-box-shadow: 0px 3px 1px 0px #888;
    box-shadow: 0px 3px 1px 0px #888;
  }
  .quote-box a {
    color: #fff;
  }

  /* Button styling */
  .button {
    background-color: #fff;
    border: solid 1px #cbcccb;
    font-weight: 100;
    color: #454545;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
  }
  .button:hover {
    background-color: #d3d3d3;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }


/* Menu Styling */
  #main-nav .left-nav a:hover, #main-nav .right-nav a:hover {
    border-bottom: 2px solid #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  div#main-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 53px;
    position: fixed;
    z-index: 2;
    margin-top: -85px;
  }
  .logo-nav {
    float: left;
    width: 145px;
  }
  .left-nav, .right-nav {
    width: calc((100% - 170px)/2);
    float: left;
    text-align: -webkit-center;
  }
  #main-nav a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    font-weight: 100;
    display: inline-block;
    width: 130px;
  }
  .nav-container {
    height: 85px !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  } 
  .left-nav, .right-nav {
    width: calc((100% - 145px) /2); 
  }


/* Page Specific Styling */

  /* Product Page */
  .stone-image {
    background: url("../imgs/shutterstock_47460910.jpg");
    width: 100%;
    height: 239px;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .half-caption-prod {
    background-color: rgba(0,0,0,0.5) !important;
    margin-top: 158px !important;
    height: 81px !important;
    padding-bottom !important: 8px; 
  }
  #sustain-title-products {
    text-indent: 33px;
  }
  #applications-list {
    list-style-type: none;
  }
  .sustainability-section-products {
    float: left;
  }
  div#sustainability-products {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  div#application-section-products {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: right;
    display: inline-block;
    padding-top: 10px;
  }


/* Head Styling */
  #main-page-head {
    background: url(../imgs/pour-concrete-dark.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 400px;
  }
  .logo {
    background: url(../imgs/solitelogo1.png) no-repeat center center;
    width: 100px;
    background-size: cover;
    height: 30px;
    float: left;
    display: inline-block;
    padding-bottom: 1px;
  }
  div#main-page-logo a, div#main-page-logo a:active {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }
  .overlay {
    margin-top: 85px;
  }
  #main-caption {
    width: 520px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    position: absolute;
    margin-top: 290px;
    z-index: 0;
  }
  #main-caption p {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
  }


/* Neck Styling */
  p#first-text-neck {
    font-weight: 600;
  }
  #first-text-neck, #second-text-neck {
    font-size: 18px;
    font-weight: 100;
  }
  div#neck-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }


/* General Styling */
  
  /* Half Styling */
  #first-half {
    background: url(../imgs/capitaldome2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #second-half {
    background: url(../imgs/shutterstock_47460910.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .half {
    width: 45%;
    height: 420px;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  div#half-caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 339px;
    height: 81px;
  }
  #half-caption p {
    color: #fff;
    padding-left: 10px;
  }
  #half-caption a {
    padding-left: 10px;
    color: fff;
    margin-bottom: 5px;
  }

  /* Third Styling */
  .third {
    background-color: rgba(0, 0, 0, 0.3);
    width: 31%;
    float: left;
    height: 220px;
    margin-left: 1%;
  }
  #first-third-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 23.2%;
    height: 220px;
    z-index: -999;
    position: absolute;
    margin-top: -22px;
  }
  #second-third-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 23.2%;
    height: 220px;
    z-index: -999;
    position: absolute;
    margin-top: -22px;
  }
  #third-third-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 23.2%;
    height: 220px;
    z-index: -999;
    position: absolute;
    margin-top: -22px;
  }
  .third p {
    color: #FFF;
    position: absolute;
    margin-top: 170px;
    margin-left: 10px;
  }
  
  /* Fourth Styling */
  .fourth-container {
    width: 100%;
    height: 233px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .fourth-box {
    background-color: rgba(0, 0, 0, 0.3);
    width: 22.4%;
    height: 100%;
    /* position: absolute; */
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }
  #first-fourth-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 16.8%;
    height: 233px;
    z-index: -999;
    position: absolute;
  }
  #second-fourth-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 16.8%;
    height: 233px;
    z-index: -999;
    position: absolute;
  }
  #third-fourth-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 16.8%;
    height: 233px;
    z-index: -999;
    position: absolute;
  }
  #fourth-fourth-img {
    background: url(../imgs/aridos-5.jpg) no-repeat center center;
    width: 16.8%;
    height: 233px;
    z-index: -999;
    position: absolute;
  }
  .fourth-box p {
    color: #FFF;
    position: absolute;
    margin-top: 180px;
    margin-left: 10px;
  }


/* Footer Styling*/
  .footer {
    background-color: #37454E;
    padding: 10px 10px 10px 10px;
  }
  .footer p, .footer a {
    color: #615D70;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: -webkit-center;
  }
  .footer p {
    padding-left: 15px;
  }


/* Uncategorized */
.main-slider {
  margin-top: 85px; 
}
.main-first-slide {
  background: url(../imgs/lake.jpg) no-repeat center center;
}
.main-second-slide {
  background: url(../imgs/train.jpg) no-repeat center center;
}
.main-third-slide {
  background: url(../imgs/windmill.jpg) no-repeat center center;
}
.slide-content {
  text-align: -webkit-center;
  color: #FFF;
  margin-top: 17%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
.mobile-menu {
  display: none; 
}
@media screen and (max-width: 955px) {
    .nav-container {
      display: none;
    }
    .main-slider {
      margin-top: 0px;
    }
    .mobile-menu {
      background: url(../imgs/threelines.png) no-repeat center center;
      background-size: cover;
      width: 30px;
      height: 40px;
      display: block;
      position: fixed;
      padding-left: 1.25em;
      z-index: 100;
      margin-left: 20px;
      margin-top: 20px;
    }
    .mobile-items p {
      padding-left: 20px;
    }
    .product-slider .slick-prev, .product-slider .slick-next {
      display: none !important;
      color: #fff;
    }
}
@media screen and (max-width: 700px) {
  .slide-content{
    margin-top:  30%; 
  }
}
.prod-first-slide {
  background: url(../imgs/greenlite.jpg) no-repeat center center; 
  background-size: 250px 200px;
}
.prod-second-slide {
  background: url(../imgs/hydrolite.jpg) no-repeat center center;
  background-size: 250px 200px;
}
.prod-third-slide {
  background: url(../imgs/kenlite.jpg) no-repeat center center;
  background-size: 250px 200px;
}
.prod-fourth-slide {
  background: url(../imgs/solite.jpg) no-repeat center center;
  background-size: 250px 200px;
}
.product-slider .slick-prev {
  margin-left: 100px !important;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.product-slider .slick-next {
  right: 100px !important;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.product-slider .slick-prev:before, .product-slider .slick-next:before{
  color: #333; 
}
.calc-box-container {
  width: 75%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  background: url(../imgs/dam.jpg) no-repeat center center;
  background-size: 100% 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}
.calc-box {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.calc-box:hover {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.calc-box .button {
  margin-left: calc(50% - 60px);
  margin-top: 245px;
}
.calc-box p {
  text-align: center; 
  padding-top:200px; 
  font-weight:600; 
  color:#fff; 
  font-size:24px; 
}

.calc-textbox {
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  font-weight: 100;
  border: 1px solid #CCC;
  vertical-align: middle;
  font-size: 12px;
}
.calc-label {
  width: 150px;
  text-align: right;
  float: left;
  line-height: 24px;
  padding-right: 10px;
}
.calc-select {
  height: 27px;
  border: 1px solid #CCC;
  background-color: #FFF; 
  width: 100px;
}
.cyards-div {
  display: inline-block;
  clear: both;
}
input#submitButton {
  float: left;
  height: 27px;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-left: -110px;
  width: 100px;
  display: inline-block;
  background-color: #fff;
  margin-top: 1px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#submitButton:hover {
  background-color: #d3d3d3;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.calc-form {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}