.left-nav, .right-nav, .logo-nav {
  margin-top: 15px;
}
/*  Responsive menu  */
header.smaller-nav {
  height: 40px !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
header.smaller-nav #main-nav .left-nav a, 
header.smaller-nav #main-nav .right-nav a {
  font-size: 15px;
  letter-spacing: 1px;
  width: 130px;
  padding-bottom: 5px;
}
header.smaller-nav #main-nav .left-nav a:hover, 
header.smaller-nav #main-nav .right-nav a:hover {
  border-bottom: 1px solid #000;
}
header.smaller-nav #main-nav .logo-nav a .logo {
  height: 18px !important;
  width: 75px !important;
}
header.smaller-nav .left-nav,
header.smaller-nav .right-nav {
  width: calc((100% - 145px) /2);
}
header.smaller-nav #main-nav .left-nav, 
header.smaller-nav #main-nav .right-nav, 
header.smaller-nav #main-nav .logo-nav {
  margin-top: 0 !important; 
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}